body{
  background-color: #66757F;
}

.status-container {
  background-color: #55ACEE;
  height: 500px;
  width: 90%;
  margin-left: 5%;
  border-radius: 25px;
  border: 1px solid #FFFFFF;
  text-align: center;
}

.title
{
  color: #292F33;
  font-size: 15px;
  background-color: #E1E8ED;
  font-family: Verdana;
  margin-top: 15px;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
}

#table-data {
  background-color: white;
}
